@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Welcome, @context.User.Identity.Name</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hi, please login</h1>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>


